/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

* {
  text-decoration-color: currentColor;
  text-decoration-thickness: 0.1ch;
}

body {
  --stack-horizontal-alignment: stretch;
  --stack-space: 0;

  background: var(--color-neutral-primary-bg);
  color: var(--color-neutral-secondary-text);

  font-size: var(--step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
}

main {
  padding-block: var(--main-padding-block-start) var(--main-padding-block-end);
}

/* Base typesetting */
h1,
h2,
h3,
h4,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-wrapper {
  color: var(--color-neutral-primary-text);
  font-family: var(--font-display);

  @supports (font-variation-settings: 'wght' 400) {
    font-variation-settings: 'wght' var(--font-weight, var(--weight-semi-bold));
  }
}

h1,
h2,
.heading-1,
.heading-2 {
  letter-spacing: var(--tracking-s);
}

h2,
.heading-2,
.heading-wrapper:has(h2) {
  line-height: var(--leading-fine);
}

h1,
.heading-1 {
  font-size: var(--step-5);
  line-height: var(--leading-flat);
}

h2,
.heading-2,
.heading-wrapper:has(h2) {
  font-size: var(--step-3);
}

h3,
.heading-3,
.heading-wrapper:has(h3) {
  font-size: var(--step-1);
  line-height: var(--leading-medium);
}

h3,
.heading-3 {
  letter-spacing: var(--tracking-m);
}

h4,
.heading-4 {
  font-size: var(--step-0);
  letter-spacing: normal;
}

em {
  font-style: normal;
  font-weight: 500;

  @supports (font-variation-settings: 'wght' 400) {
    font-weight: unset;
    font-variation-settings: 'wght' var(--font-weight, var(--weight-medium));
  }
}

/* Set line lengths */
h1,
h2,
h3,
h4 {
  max-inline-size: var(--measure-headings);
  text-wrap: balance;
}

p,
dd,
figcaption,
blockquote:not([class]) {
  max-inline-size: var(--measure-body);
  text-wrap: pretty;
}

/* More generic elements */
figcaption {
  --flow-space: var(--space-3xs-2xs);

  color: var(--color-neutral-tertiary-text);
  font-size: var(--step-min-1);
  line-height: var(--leading-medium);
}

blockquote > * + * {
  margin-block-start: 1em;
}

blockquote:not([class]) {
  padding: 1em;
  border-inline-start: 0.5ch solid var(--color-neutral-border);
  /* font-size: var(--step-1);
  font-family: var(--font-serif);
  line-height: var(--leading-medium);
  letter-spacing: var(--tracking-m); */
}

/* Markdown blockquote:not([class])s aren't ideal */
blockquote:not([class]) cite {
  font-style: normal;
  /* font-family: var(--font-base); */
  /* font-size: var(--step-0); */
  /* letter-spacing: normal; */
}

dt,
dd {
  overflow-wrap: break-word;
}

address {
  font-style: normal;
}

/* Base interactive elements */
button,
input,
label {
  line-height: var(--leading-fine);
}

a,
button {
  color: var(--color-brand-primary-text);
}

button,
summary {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-underline-offset: 0.2ex;
}

/* a:hover {
  text-decoration-thickness: 0.2ch;
} */

input::placeholder {
  color: var(--color-neutral-tertiary-text);
  font-size: var(--step-min-1);
  letter-spacing: var(--tracking-l);
}

:target {
  scroll-margin-top: 1em;
}

:focus-visible {
  outline: var(--border-medium) solid var(--color-brand-primary-text);
  outline-offset: var(--border-medium);
  border-radius: 0;
  text-decoration-color: transparent;
}

[class]:focus-visible {
  outline-offset: var(--border-medium);
  border-radius: 0;
}

main:focus {
  outline: none;
}

::selection {
  background-color: var(--color-blue-3);
  color: var(--color-neutral-primary-text);
}
