.address:where(:hover, :focus-within) clipboard-copy {
  opacity: 1;
}

clipboard-copy {
  display: none;

  margin-inline-start: 0.5ch;
  padding: 0.25ex 0.5ch;
  border-radius: var(--border-radius);
  background: var(--clipboard-copy-bg, var(--radial-gradient));
  outline: var(--border-regular) solid
    var(--clipboard-copy-border-color, var(--color-brand-border-subtle));
  line-height: var(--leading-fine);
  opacity: 0;

  transition: opacity var(--transition-fade);

  user-select: none;
  cursor: pointer;

  .has-js & {
    display: initial;
  }

  &:hover {
    --clipboard-copy-bg: var(--radial-gradient-hover);
    --clipboard-copy-border-color: currentColor;
  }
}

.address:has(clipboard-copy:hover) {
  outline: var(--border-regular) solid var(--color-brand-border-subtle);
  outline-offset: calc(1em / 4);
}
