.breadcrumbs {
  padding-block: var(--nav-link-padding-block);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;

  * {
    vertical-align: middle;
  }

  & a {
    padding-block: var(--nav-link-padding-block);
    transition: color var(--transition-fade);

    &:hover {
      color: var(--site-head-text);
    }
  }
}
