:where(.contact-page) {
  & a {
    color: inherit;
  }

  .auto-grid {
    --grid-placement: auto-fit;
    --grid-gap: var(--space-xs);
  }
}

.contact-info-box,
.address-n-map-container {
  box-shadow: var(--shadow-1);

  .icon {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: -2rem;
    translate: 0 -66%;
    block-size: 100%;
    inline-size: auto;
    max-block-size: var(--space-4xl);
    stroke-width: 0.2;
    stroke: var(--color-brand-border);
    pointer-events: none;
  }
}

.contact-info-box {
  --stack-space: var(--space-l-xl);
  transition: scale var(--transition-bounce), outline-color var(--transition-bounce);

  & a:after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &:hover {
    --box-border-color: var(--color-brand-border);
    scale: 1.033;

    /* .icon {
      fill: var(--color-blue-3);
    } */
  }
}

.address-n-map-container {
  --grid-min-item-size: 20rem;
  --grid-gap: 0;
  --flow-space: var(--space-xs);

  outline: var(--border-regular) solid var(--color-brand-border-subtle);
  border-radius: var(--border-radius);

  .icon {
    flex-shrink: unset;
    margin-inline-end: unset;
    translate: 0 -36%;
  }
}

.address-info-box {
  --stack-space: var(--space-l-xl);
  --stack-vertical-alignment: space-between;
  --box-border-color: transparent;
  border-radius: 0;
}

.map-embed {
  display: none;
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 18rem;

  .has-js & {
    display: unset;
  }
}
