.cta {
  --cluster-space: 1ch;
  --circle-color: 142deg 70% 49%;
  --circle-size: 0.66rem;

  position: fixed;
  inset-block-end: var(--gutter);
  inset-inline-end: var(--gutter);

  padding: 0.75ex 1em;
  outline: var(--border-regular) solid var(--color-neutral-border-subtle);
  border-radius: var(--border-radius);
  background-color: var(--color-slate-0);
  box-shadow: var(--button-shadow);

  color: var(--color-neutral-primary-text);
  text-decoration-line: none;

  transition: transform var(--transition-bounce), box-shadow var(--transition-bounce);
  transition-duration: 250ms;

  &:focus-visible {
    outline: var(--border-medium) solid var(--color-brand-primary-text);
    outline-offset: calc(-1 * var(--border-medium));
    z-index: 2;
  }

  &:hover {
    box-shadow: var(--button-hover-shadow);
    transform: translateY(2%);
  }
}

.cta:after {
  content: '';
  position: absolute;
  inset: calc((-1 * var(--gutter)));
}

.pulse-css {
  position: relative;
  inline-size: var(--circle-size);
  block-size: var(--circle-size);
  border-radius: calc(0.5 * var(--circle-size));
  background-color: hsl(var(--circle-color));
}

.pulse-css:before,
.pulse-css:after {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: var(--circle-size);
  block-size: var(--circle-size);
  border-radius: calc(0.5 * var(--circle-size));
  background-color: hsl(var(--circle-color));
  transform: scale(0.5);
  transform-origin: center center;
  animation: pulse-me 3s linear infinite;
}

.pulse-css:after {
  animation-delay: 2s;
}

@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.09;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
