.cta {
  --cluster-space: 1.25ch;
  --circle-color: var(--color-green-6);
  --circle-size: 0.5rem;

  position: fixed;
  inset-block-end: var(--gutter);
  inset-inline-end: var(--gutter);

  padding: 0.75ex 1em;
  background-color: var(--color-green-1);
  outline: var(--border-regular) solid #d9eee0;
  outline-offset: calc(-1 * var(--border-regular));
  border-radius: 9999px;

  color: var(--color-green-10);
  text-decoration-line: none;

  transition: transform var(--transition-bounce), box-shadow var(--transition-bounce);
  transition-duration: 250ms;

  &:focus-visible {
    outline: var(--border-medium) solid var(--color-green-6);
    outline-offset: calc(-1 * var(--border-medium));
    border-radius: 9999px;
    z-index: 2;
  }

  &:hover {
    --circle-color: var(--color-green-1);
    background-color: var(--color-green-8);
    outline-color: var(--color-green-8);
    color: var(--color-green-1);
  }
}

.cta:after {
  content: '';
  position: absolute;
  inset: calc((-1 * var(--gutter)));
}

.pulse-css {
  position: relative;
  inline-size: var(--circle-size);
  block-size: var(--circle-size);
  border-radius: calc(0.5 * var(--circle-size));
  background-color: var(--circle-color);
}

.pulse-css:before,
.pulse-css:after {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: var(--circle-size);
  block-size: var(--circle-size);
  border-radius: calc(0.5 * var(--circle-size));
  background-color: var(--circle-color);
  transform: scale(0.5);
  transform-origin: center center;
  animation: pulse-me 3s linear infinite;
}

.pulse-css:after {
  animation-delay: 1.5s;
}
