.product-categories-page {
  --cover-size: min(400px, 50vh);
  --site-head-bg: var(--color-neutral-inverted-bg);
  --site-head-text: var(--color-neutral-inverted-text);
  --scroll-shadow-affordance-color: rgba(0, 0, 0, 1);

  .site-head {
    -webkit-font-smoothing: antialiased;
  }

  .site-head__inner {
    --header-border-color: var(--color-neutral-border-dark);
  }

  & main {
    padding-block-start: 0;
    padding-block-end: calc(
      var(--main-padding-block-end) - var(--product-subcat-item-padding-block)
    );
    isolation: isolate;
  }

  .page-header {
    -webkit-font-smoothing: antialiased;
  }

  & h1 {
    margin-block: auto calc(2 * var(--nav-link-padding-block));
  }

  :target {
    scroll-margin-top: calc(var(--nav-link-padding-block) + var(--site-header-height));
  }
}

.has-js .product-categories-page {
  .site-head {
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    background-color: transparent;
  }

  .page-header {
    padding-block-start: var(--site-header-height);
  }
}
