.products-page {
  .product-category-item {
    position: relative;
    overflow: hidden;

    & img {
      transition: scale var(--transition-bounce);
    }

    &:hover img {
      scale: 1.2;
    }
  }
}
