.product-subcategories-list > * + * {
  border-block-start: var(--border-regular) solid var(--color-brand-border-subtle);
}

.product-subcategories-item {
  --flow-space: var(--product-subcat-item-padding-block);
  padding-block: var(--product-subcat-item-padding-block);
}

.product-subcategory-heading + div {
  --flow-space: var(--space-m-l);
}
