.bg-image {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: radial-gradient(transparent 50%, var(--color-slate-11));
  border-radius: inherit;

  & figure,
  picture,
  img {
    block-size: 100%;
    inline-size: 100%;
  }

  & img {
    mix-blend-mode: overlay;
    object-fit: cover;
    object-position: var(--img-position);
    opacity: 0.5;
  }
}

.bg-image + * {
  isolation: isolate;
}
