.product-category-list {
  --grid-min-item-size: min(20rem, 100%);
  --grid-gap: var(--space-xs);
}

.product-category-card {
  --_title-font-size: var(--step-point-5);
  --stack-space: var(--space-2xl);
  --stack-vertical-alignment: space-between;
  --box-padding: var(--space-xs-s);
  --box-bg: radial-gradient(transparent 50%, var(--color-slate-11));
  --box-border-color: var(--color-slate-7);
  transition: scale var(--transition-movement);

  @media (hover: hover) {
    &:hover {
      scale: 1.02;
    }
  }
}

.product-category-card[data-sticky='true'] {
  position: sticky;
  overflow: hidden;

  inset-block-start: calc(
    var(--nav-link-padding-block) +
      (var(--data-index) * ((var(--box-padding, 1em)) + var(--_title-font-size)))
  );

  @media (--sm-n-above) {
    position: relative;
    inset-block-start: unset;
  }
}

.product-category-content {
  min-block-size: 100%;
}

.product-category-title {
  color: inherit;
  font-size: var(--_title-font-size);
  text-wrap: balance;
}

.product-category-title:after {
  content: '';
  position: absolute;
  inset: 0;
}

.manufacturers-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 1ch;

  & svg {
    translate: 0 1px;
  }
}

.product-manufacturer-list {
  --cluster-space: 0.125ex 0.5ch;
}
