.product-title {
  --repel-wrap-behaviour: nowrap;
  --repel-space: 0 var(--space-m-l);
  --repel-vertical-alignment: baseline;
}

.product-code {
  text-wrap: balance;
}

.product-brand {
  flex-shrink: 0;
  transition: color var(--transition-fade);

  .product-card:hover & {
    color: var(--color-neutral-tertiary-text);
  }
}
