.product-category-list {
  --grid-min-item-size: min(20rem, 100%);
  --grid-gap: var(--space-s);
}

.product-category-item {
  --stack-space: var(--space-3xl);
  --stack-vertical-alignment: space-between;
  --box-bg: radial-gradient(transparent 50%, var(--color-slate-11));
}

.product-category-content {
  min-block-size: 100%;
}

.product-category-title {
  color: inherit;
  text-wrap: balance;
}

.product-category-title:after {
  content: '';
  position: absolute;
  inset: 0;
}

.manufacturers-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 1ch;

  & svg {
    translate: 0 1px;
  }
}

.product-manufacturer-list {
  --cluster-space: 0.125ex 1ch;
}
