.bg-image {
  --duotone: url(#duotone-default);

  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: radial-gradient(transparent 0%, var(--color-slate-11));
  border-radius: inherit;
  overflow: hidden;

  & figure,
  picture,
  img {
    block-size: 100%;
    inline-size: 100%;
  }

  & img {
    object-fit: cover;
    opacity: 0.2;
    mix-blend-mode: luminosity;
    /* filter: var(--duotone); */
  }
}

.bg-image + * {
  isolation: isolate;
}
