[role='search'] {
  --flow-space: var(--space-m-l);
  display: block;
}

[role='search'] > * {
  --flow-space: initial;
}

#search-form {
  max-inline-size: var(--measure-body);
  background-color: var(--color-slate-0);
  outline: var(--border-regular) solid var(--color-neutral-border-subtle);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);

  > * {
    display: flex;
  }

  &:focus-within {
    outline-color: var(--color-brand-primary-text);
    box-shadow: 0 0 0 var(--border-thick) var(--color-brand-secondary-bg);
  }

  &:has(button:focus) {
    outline-color: var(--color-neutral-border-subtle);
  }
}

:where(#search-form) {
  & input,
  button {
    inline-size: 100%;
    padding: var(--space-2xs);

    border: none;
    background-color: transparent;
  }

  & input:focus-visible {
    outline: none;
  }

  & button {
    text-align: center;
  }
}

.has-js [type='search']::-webkit-search-decoration,
.has-js [type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

:is(.search-btn, .clear-btn):focus-visible {
  outline: var(--border-regular) solid var(--color-brand-primary-text);
  outline-offset: 2px;
}

.search-btn {
  padding-inline: var(--space-xs);
  border-radius: var(--border-radius);
}

.has-js .search-btn {
  display: none;
}

.clear-btn {
  display: none;

  & svg {
    inline-size: 1.8em;
    block-size: 1.8em;

    &:hover {
      fill: var(--color-neutral-primary-text);
    }
  }
}

.has-js .clear-btn {
  display: flex;
  align-items: center;
}

@supports selector(:has(+ *)) {
  #search-form:has([type='search']:placeholder-shown) .clear-btn {
    opacity: 0;
  }
}

#search-results {
  --flow-space: var(--space-m-l);
}

#search-results > * {
  --flow-space: initial;
}

#search-results-list {
  --grid-min-item-size: min(var(--measure-headings), 100%);
  --grid-gap: var(--space-s);
  --box-bg: linear-gradient(
    135deg,
    var(--color-brand-primary-bg),
    var(--color-neutral-primary-bg),
    var(--color-brand-primary-bg)
  );
}

@media (hover: hover) {
  #search-results-list:not(.search-results-notfound) .search-result-item:hover {
    --box-bg: linear-gradient(
      135deg,
      var(--color-brand-secondary-bg),
      var(--color-neutral-primary-bg),
      var(--color-brand-secondary-bg)
    );
  }
}

.search-result-link {
  --repel-wrap-behaviour: nowrap;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.search-result-excerpt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.keyword-suggestion-container {
  --cluster-space: var(--space-2xs);
  display: none;

  .has-js & {
    display: flex;
  }
}

/* Hide the keyword suggestions when the search results are shown */
#search-results:not(.hidden) + .keyword-suggestion-container {
  display: none;
}
