.site-head {
  background: var(--site-head-bg, var(--color-neutral-primary-bg));
  color: var(--site-head-text, inherit);
  isolation: isolate;
  z-index: 1;

  * {
    color: inherit;
  }

  & a {
    display: inline-flex;
  }

  & a,
  button {
    padding-block: var(--nav-link-padding-block);
    color: inherit;
  }
}

.site-head__inner {
  --repel-space: 0 var(--gutter);

  border-block-end: var(--border-thin) solid var(--header-border-color);

  @media (--md-n-below) {
    --header-border-color: var(--color-neutral-border);
  }
}
