.site-foot {
  --stack-space: auto;
  --_footer-padding-link-block: var(--space-3xs);

  * {
    color: inherit;
  }

  & :is(a, .address) {
    padding-block: var(--_footer-padding-link-block);
  }

  & a {
    display: inline-flex;
  }

  address {
    max-inline-size: 30rem;
  }

  .icon {
    margin-inline-end: 1ch;
  }
}

.site-foot__upper,
.site-foot__lower > * {
  /* adjust spacing to accomodate the footer-padding-link-block  */
  --flow-space: calc(1em - var(--_footer-padding-link-block));

  padding-block: var(--nav-link-padding-block);
  border-block-start: var(--border-regular) solid var(--color-neutral-border-subtle);
}

.site-foot__upper {
  --cluster-vertical-alignment: start;
  --cluster-space: var(--space-m) var(--space-l);

  /* adjust spacing to accomodate the footer-padding-link-block  */
  padding-block-end: calc(
    var(--nav-link-padding-block) - var(--_footer-padding-link-block)
  );

  .auto-grid {
    --grid-gap: 0 var(--space-l-xl);
    --grid-min-item-size: 13rem;
  }

  > :nth-child(2) {
    flex-grow: 999;
  }
}

.site-foot__lower {
  --repel-space: var(--gutter);
  background-color: var(--color-neutral-primary-bg);
  z-index: 1;
  position: relative;
}
