.site-head {
  --stack-space: 0;

  background: var(--site-head-bg, var(--color-neutral-primary-bg));
  color: var(--site-head-text, inherit);
  isolation: isolate;
  z-index: 1;

  * {
    color: inherit;
  }

  & a {
    display: inline-flex;
  }

  & a,
  button {
    padding-block: var(--nav-link-padding-block);
    color: inherit;
  }
}

.site-head__inner {
  --repel-space: 0 var(--gutter);
}
