.skip-link-container {
  inline-size: calc(100vw - (2 * var(--gutter)));
}

.skip-link {
  display: block;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: var(--gutter);

  padding: calc(1 / 2 * var(--nav-link-padding-block)) var(--gutter);

  border-radius: 9999px;
  outline-offset: 1px;
  box-shadow: var(--button-shadow);

  opacity: 0;
  translate: 0 -100%;
  transition: translate var(--transition-fade);
  z-index: 999;
}

.skip-link:focus {
  opacity: 1;
  border-radius: 9999px;
  translate: 0 calc(1 / 2 * var(--nav-link-padding-block));
}
