{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <!-- charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if seo.title %}{{ seo.title }}
      {% elif title %}{{ title }}
      {% else %}{{ site.siteName }}{% endif %}
    </title>

    <!-- synchronous JS before CSS -->
    <script>
      document.documentElement.classList.add('has-js');
    </script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    <link
      rel="preload"
      href="/assets/scripts/app.js?{{ assetHash }}"
      as="script"
      fetchpriority="high"
    >
    <link
      rel="preload"
      href="/assets/fonts/inter-partial-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {% if preloads -%}
    <link 
      rel="preload"
      href="{{ preloads.href }}"
      as="{{ preloads.as }}"
      {% if preloads.type %}type={{ preloads.type }}{% endif %}
      {% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
      {% if preloads.crossorigin %}crossorigin{% endif %}
      {% if preloads.fetchpriority %}fetchpriority={{ preloads.fetchpriority }}{% endif %} 
    />
    {% endif %}

    <!-- view-transition -->
    <meta name="view-transition" content="same-origin">

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body class="{{ layout }}-page | stack">
    <!-- header -->
    {% include "partials/site-header.njk" %}

    <!-- content slot -->
    <main id="main">
      {{ content | safe }}
    </main>

    <!-- whatsApp cta -->
    {% include "partials/cta.njk" %}

    <!-- footer -->
    {% include "partials/site-footer.njk" %}

    <!-- svg icon nodes -->
    {% if layout == "product-categories" %}
    <div hidden>
      {% lucide "chevron-right", { "id": "icon-chevron-right" } %}
      {% lucide "shield-check", { "id": "icon-shield-check", "stroke-width": "2.5" } %}
      {% lucide "shrink", { "id": "icon-shrink", "stroke-width": "2.5" } %}
    </div>
    {% elif layout == "search" %}
    <div hidden>
      {% lucide "link-2", { "id": "icon-link-2", "stroke-width": "2.5" } %}
    </div>
    {% endif %}

    <!-- defered js  -->
    <script
      src="/assets/scripts/app.js?{{ assetHash }}"
      defer>
    </script>

    {% if layout == 'search' %}
    <script
      src="/assets/scripts/search.js?{{ assetHash }}"
      defer>
    </script>
    {% endif %}
    
    <script
      src="/assets/scripts/clipboard-copy-element.js?{{ assetHash }}"
      defer>
    </script>

  </body>
</html>
