---
layout: base
---

<div class="wrapper flow">
  <h1>{{ title }}</h1>
  <p class="page-desc">{{ description }}</p>

  <!-- TODO: use the swticher instead of auto-grid -->
  <div class="auto-grid">
    <!-- Whatsapp -->
    <div class="contact-info-box | box stack | relative overflow-hidden">
      <h2 class="heading-3">WhatsApp Us</h2>
      <span class="visually-hidden">Mobile: </span>
        <a
          class="no-underline"
          href="https://wa.me/{{ site.address.mobileCall }}"
        >
          {{ site.address.mobileDisplay }}
        </a>
        {% lucide "message-square" %}
    </div>

    <!-- Call -->
    <div class="phone | contact-info-box | box stack | relative overflow-hidden">
      <h2 class="heading-3">Call Us</h2>
      <span class="visually-hidden">Mobile: </span>
      <a
        class="no-underline"
        href="tel:+{{ site.address.mobileCall }}"
      >
        {{ site.address.mobileDisplay }}
      </a>
      {% lucide "phone" %}
    </div>

    <!-- Mail -->
    <div class="contact-info-box | box stack | relative overflow-hidden">
      <h2 class="heading-3">Email Us</h2>
      <span class="visually-hidden">Email: </span>
        <a
          class="no-underline"
          href="mailto:{{ site.address.email }}"
        >
          {{ site.address.email }}
        </a>
        {% lucide "mail" %}
    </div>
  </div>
  
  <div class="address-n-map-container | auto-grid | overflow-hidden">
    <div class="address-info-box | stack box | relative overflow-hidden">
      <h2 class="heading-3">Address</h2>
      {% include "partials/address.njk" %}
    </div>

    <iframe
      class="map-embed"
      src="{{ site.address.googleMap }}"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"
      title="Sainath Niwas - Google Maps"
    >
    </iframe>
  </div>
  
  {{ content | safe }}
</div>
