---
layout: base
---

<div class="wrapper | flow">
  <h1>{{ productCategoriesInfo.title }}</h1>
  <p class="page-desc">{{ productCategoriesInfo.description }}</p>
  
  <!-- category list -->
  {% include "partials/product-category-list.njk" %}
  
  {{ content | safe }}
</div>