---
layout: base
---

<div class="wrapper | flow">
  <h1>{{ title }}</h1>
  <p class="page-desc">{{ description }}</p>
  
  <!-- category list -->
  <ul
    class="product-category-list | auto-grid"
    role="list"
  >
    {% for category in manufacturersData.categories %}
    <li class="product-category-item | box | relative inverted">
      
      <!-- background image -->
      <div
        class="bg-image"
        style="--img-position: {{ category.backgroundImage.imgPosition or "center" }}"
      >
        {% image category.backgroundImage.src, "", "", "(min-width: 64.875rem) 33vw, (min-width: 43.75rem) 50vw, 100vw", "eager" %}
      </div>
      
      <!-- content -->
      <div class="product-category-content | stack">
        <!-- category title -->
        <a
          href="/products/{{ category.title | slugify }}"
          class="product-category-title | heading-3 no-underline"
        >
          {{ category.title }}
        </a>
        <!-- manufacturers -->
        <div class="manufacturers-container | step-min-1">
          {% lucide "badge-check",
            { "stroke": "var(--color-neutral-inverted-text)" }
          %}
          <ul
            class="product-manufacturer-list | cluster | text-color-quinary"
            role="list"
          >
            {% for manufacturer in category.manufacturers %}
              <li>
                {{ manufacturer }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  
  {{ content | safe }}
</div>