.box {
  padding: var(--box-padding, 1em);
  outline: var(--border-regular) solid
    var(--box-border-color, var(--color-brand-border-subtle));
  border-radius: var(--border-radius);
  background: var(--box-bg, transparent);
}

.box:focus-within {
  --box-border-color: var(--color-brand-primary-text);
  box-shadow: 0 0 0 var(--border-thick) var(--color-brand-secondary-bg);
}

.box *:focus-visible {
  outline: none;
  box-shadow: none;
}

.box.inverted:focus-within {
  outline-offset: var(--border-thick);
}
