.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--wrapper-max-width, 80rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
