<p class="with-icon">
  {% lucide "map-pin" %}
  
  <span>
    {{ site.address.firm }},
    {{ site.address.street }},
    {{ site.address.city }},
    {{ site.address.state }},
    {{ site.address.zip }}
  </span>
</p>