{% set address %}
{{ site.address.firm }}, {{ site.address.street }}, {{ site.address.city }}, {{ site.address.state }}, {{ site.address.zip }}
{% endset %}

<p class="address | with-icon">
  {% lucide "map-pin" %}
  
  <span>
    {{ address }}
    <clipboard-copy
      value="{{ address | safe }}"
      class="copy-btn | step-min-2 uppercase em-medium"
      data-confetti-text="Copied!"
    >
      Copy
    </clipboard-copy>
  </span>
</p>