<div class="marquee">
  <ul
    class="marquee-group"
    role="list"
  >
    {% for item in brands %}
    {% if loop.index < 7 %}
    <li>
      <img
        src="{{ item.src }}"
        alt="{{ item.org }}"
        loading="lazy"
      >
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <ul
    class="marquee-group"
    role="list"
    aria-hidden="true"
  >
    {% for item in brands %}
    {% if loop.index < 7 %}
    <li>
      <img
        src="{{ item.src }}"
        alt="{{ item.org }}"
        loading="lazy"
      >
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="marquee" data-type="reverse">
  <ul
    class="marquee-group"
    role="list"
  >
    {% for item in brands %}
    {% if loop.revindex < 7 %}
    <li>
      <img
        src="{{ item.src }}"
        alt="{{ item.org }}"
        loading="lazy"
      >
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <ul
    class="marquee-group"
    role="list"
    aria-hidden="true"
  >
    {% for item in brands %}
    {% if loop.revindex < 7 %}
    <li>
      <img
        src="{{ item.src }}"
        alt="{{ item.org }}"
        loading="lazy"
      >
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>