<!-- subcategories navigation container -->
<div
  class="breadcrumbs-container | wrapper | sticky step-min-1"
>
  <nav
    class="breadcrumbs"
    aria-label="Breadcrumbs"
  >
    <a
      class="underline-on-hover"
      href="/products/"
    >
      {# remove unnecessary whitespace #}
      {{- "Product Categories" -}}
    </a>
    
    {{ 'chevron-right' | iconRef | safe }}
    
    <a
      class="underline-on-hover"
      href="#top"
    >
      {{ title | safe }}
    </a>
    
    {% if numberOfSubCategories > 1 %}
    <!-- subcategories navigation -->
    {{ 'chevron-right' | iconRef | safe }}

    <div class="subcategories">
      <ul
        role="list"
        aria-label="Product Subcategories"
      >
        {% for item in category.subCategories %}
        <li>
          <a
            class="underline-on-hover"
            href="#{{ item.title | slugify }}"
          >
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    {% endif %}
  </nav>
</div>