<nav
  class="breadcrumbs | text-color-quinary step-min-1"
  aria-label="Breadcrumbs"
>
  <a
    class="underline-on-hover"
    href="/"
  >
    {# remove unnecessary whitespace #}
    {{- "Home" -}}
  </a>

  {{ "chevron-right" | iconRef | safe }}

  <a
    class="underline-on-hover"
    href="/products/"
  >
    {# remove unnecessary whitespace #}
    {{- "Products" -}}
  </a>

  {{ 'chevron-right' | iconRef | safe }}

  <a
    class="underline-on-hover"
    href="{{ page.url }}"
  >
    {{ title | safe }}
  </a>
</nav>
