<nav id="main-nav" class="site-nav" aria-label="Primary">
  <div class="site-nav-list-container">
    <ul role="list">
      {% for item in navigation.top %}
      <li>
        <a
          class="{{ "with-icon | " if item.icon }} underline-on-hover"
          href="{{ item.url }}"
          {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
        >
          {% if item.icon %}
            {% lucide item.icon %}
          {% endif %}
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>

<!--  template element holding a button that needs to be injected when JavaScript is finally available. based on an article by Manuel Matuzovic, https://web.dev/website-navigation/, see also https://kittygiraudel.com/2022/09/30/templating-in-html/ -->

<template id="burger-template">
  <button
    class="site-nav-button | with-icon"
    type="button"
    aria-expanded="false"
    aria-label="Menu"
    aria-controls="main-nav"
  >
    {% include "svg/menu.svg" %}
    Menu
  </button>
</template>
