<meta
  name="description"
  content="
  {% if seo.description %}
  {{- seo.description -}}
  {% elif description %}
  {{- description -}}
  {% else %}
  {{- site.siteDescription -}}
  {% endif %}
  "
/>

<meta name="color-scheme" content="light">
<meta
  name="theme-color"
  content="{{ designTokens.colors.items[10].value if themeColor else designTokens.colors.items[0].value }}"
>
<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt" />

<!-- Open Graph meta  -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.siteName }}" />
<meta
  property="og:title"
  content="{% if title %}{{ title }} - {{ site.siteName }}{% else %}{{ site.siteName }}{% endif %}"
/>
<meta property="og:description" content="{{- site.siteDescription -}}" />
<meta property="og:image" content="{{ site.url }}{{ site.meta_data.og_default }}"/>
<meta property="og:image:alt" content="{{ site.meta_data.og_default_alt }}" />

<!-- favicon -->
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">

<!-- All Search Engines -->
<meta name="robots" content="index,follow" />
<!-- Google Specific -->
<meta name="googlebot" content="index,follow" />

<meta name="generator" content="{{ eleventy.generator }}" />