<div class="product-title | repel">
  <!-- product code -->
  <p>
    <span class="visually-hidden">
      Product Code:
    </span>
    <span class="product-code">
      {{ item.code }}
    </span>
  </p>
  
  <!-- product brand/manufacturer -->
  <p>
    <span class="visually-hidden">
      {{ "Brand: " if item.brand else "Manufacturer: " }}
    </span>
    <span class="step-min-1">
      {{ item.brand or manufacturer.title }}
    </span>
  </p>
</div>