{% if item.advantages or item.usageArea %}

<div class="product-type-addn-info | flow | text-color-tertiary step-min-1">
  <!-- advantages -->
  {% if item.advantages %}
  <p>
    <span class="emphasise">
      {{ "shield-check" | iconRef | safe }} {{ item.advantages.label }}:
    </span>
    {{ item.advantages.content }}
  </p>
  {% endif %}

  <!-- area of usage -->
  {% if item.usageArea %}
  <p>
    <span class="emphasise">
      {{ "shrink" | iconRef | safe }} {{ item.usageArea.label }}:
    </span>
    {{ item.usageArea.content | md | safe }}
  </p>
  {% endif %}
</div>

{% endif %}