<div class="product-title | repel">
  <!-- product code -->
  <p class="product-code | em-semi-bold">
    <span class="visually-hidden">
      Product Code:
    </span>
    <span>
      {{ item.code }}
    </span>
  </p>
  
  <!-- product brand/manufacturer -->
  <p class="product-brand | text-color-quaternary step-min-1">
    <span class="visually-hidden">
      {{ "Brand: " if item.brand else "Manufacturer: " }}
    </span>
    <span>
      {{ item.brand or manufacturer.title }}
    </span>
  </p>
</div>