{% set activePage = page.url | url %}

<footer
  class="site-foot | text-color-tertiary step-min-1"
  role="contentinfo"
>
  <div class="wrapper">
    
    {% include "partials/site-footer-upper.njk" %}
    {% include "partials/site-footer-lower.njk" %}
  
  </div>

</footer>


