<div class="site-foot__lower">
  <div class="repel | wrapper">
    <p>&copy; {% year %} {{ site.address.firm }}</p>
    <p>
      Site Credit: 
      <a
        class="underline-on-hover"
        href="{{ developer.site }}"
      >
        {{ developer.name }}
      </a>
    </p>
  </div>
</div>