<div class="site-foot__upper | cluster">
  <div class="flow">
    <h2 class="heading-4 | uppercase step-min-1">
      Pages
    </h2>
    <nav aria-label="Pages">
      <ul class="auto-grid" role="list">
        {% for page in collections.pages %}
          <li>
            <a
              class="underline-on-hover"
              href="{{ page.url }}"
            >
              {{ page.data.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="flow">
    <h2 class="heading-4 | uppercase step-min-1">
      Product Categories
    </h2>
    <nav aria-label="Product Categories">
      <ul class="auto-grid" role="list">
        {% for category in products.categories %}
          <li>
            <a
              class="underline-on-hover"
              href="/products/{{ category.title | slugify }}"
            >
              {{ category.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="flow">
    <h2 class="heading-4 | uppercase step-min-1">
      Contact
    </h2>
    
    <address class="stack">
      <!-- Address -->
      <p class="with-icon">
        {% lucide "map-pin" %}
        
        <a
          class="inline underline-on-hover"
          href="https://maps.app.goo.gl/1wczW7UpjqJyMHsLA"
        >
          {{ site.address.firm }},
          {{ site.address.street }},
          {{ site.address.city }},
          {{ site.address.state }},
          {{ site.address.zip }}
        </a>
      </p>

      <!-- Calling Info -->
      <p class="phone | with-icon">
        {% lucide "phone" %}
        
        <span class="cluster">
          <span class="visually-hidden">Mobile: </span>
          <a
            class="underline-on-hover"
            href="tel:+{{ site.address.mobileCall }}"
          >
            {{ site.address.mobileDisplay }}
          </a>
          |
          <span class="visually-hidden">Landline: </span>
          <a
            class="underline-on-hover"
            href="tel:+{{ site.address.landlineCall }}"
          >
            {{ site.address.landlineDisplay }}
          </a>          
        </span>
      </p>

      <!-- Mail -->
      <p class="with-icon">
        {% lucide "mail" %}
        
        <span class="visually-hidden">Mail: </span>
        <a
          class="underline-on-hover"
          href="mailto:{{ site.address.email }}"
        >
          {{ site.address.email }}
        </a>
      </p>
    </address>
  </div>

</div>