<a href="#main" class="skip-link | inverted">
  Skip to content
</a>

<header class="site-head" role="banner">
  <div class="site-head__inner | repel wrapper ">
    {% set activePage = page.url | url %}
    <a 
      href="/"
      class="site-head__brand | underline-on-hover"
      {% if activePage === '/' %} aria-current="page" {% endif %}
      aria-label="{{ site.siteName }} Homepage"
    >
      {# {% include "svg/site-logo.svg" %} #}
      {{ site.siteName }}
    </a>
    {% include "partials/menu.njk" %}
  </div>
</header>
