<div class="site-foot__upper | cluster">
  <div class="flow">
    <h2 class="heading-4 | uppercase step-min-1">
      Pages
    </h2>
    <nav aria-label="Pages">
      <ul class="auto-grid" role="list">
        {% for page in collections.sortedPages %}
          <li>
            <a
              class="underline-on-hover"
              href="{{ page.url }}"
            >
              {{ page.data.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="flow">
    <h2 class="heading-4 | uppercase step-min-1">
      Product Categories
    </h2>
    <nav aria-label="Product Categories">
      <ul class="auto-grid" role="list">
        {% for category in products.categories %}
          <li>
            <a
              class="underline-on-hover"
              href="/products/{{ category.title | slugify }}"
            >
              {{ category.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="flow">
    <h2 class="heading-4 | uppercase step-min-1">
      Contact
    </h2>
    
    {% include "partials/contact-info.njk" %}
  </div>

</div>