{% set activePage = page.url | url %}

<footer
  class="site-foot | text-color-tertiary step-min-1"
  role="contentinfo"
>
  {% include "partials/site-footer-upper.njk" %}
  {% include "partials/site-footer-lower.njk" %}
  
</footer>


